<div class='ng-modal' ng-show='modalShown'>
	<div class='ng-modal-overlay' ng-click='hideModal()'></div>
	<div class='ng-modal-dialog'>
		<div class='ng-modal-dialog-content flippable'
			ng-class="{flip: flipToggle}"
			ng-click="flipCard()"
			ng-style="currCard.style"
		>
			<div class="flip-modal-dialog" ng-switch="currCard.sourceType">
				<h1 class="flip-modal__title">{{ currCard.name }}: {{ currCard.title }}</h1>
				<p class="flip-modal__summary">{{ currCard.summary }}</p>
				<!-- for text -->
				<div class="flip-modal__content" ng-switch-when="text">
					<div class="flip-modal__quote" ng-bind-html="currCard.content">
					</div>

					<span class="flip-modal__source" stop-event='click'> {{currCard.sourceDate}} - <a href="{{currCard.source}}"> SOURCE </a> </span>
				</div>
				
				<!-- for youtube -->
				<div class="center-block video-container">
					<youtube-video video-url="currentVideo" player-width="'100%'" player-height="'290px'" ng-switch-when="youtube"></youtube-video>
				</div>
				
				<p class="flip-modal__tags">
					Tags: {{ currCard.tags.join(' - ') }}
				</p>
			</div>

			<div class="homepage__pager">
				<div ng-class="{'disabled': cards.indexOf(currCard) === 0}" 
					class="homepage__prev-btn btn btn-default" 
					ng-click="changeCard('prev')"
					stop-event='click'> <span>Previous</span> 
				</div>
				<div ng-class="{'disabled': cards.indexOf(currCard) === cards.length - 1}"
					class="homepage__next-btn btn btn-default"
					ng-click="changeCard('next')"
					stop-event='click'
					> <span>Next</span> 
				</div>
			</div>	
		</div>
	</div>
</div>