div.container section {
	margin-top: 30px;
}

#home__random-btn button {
	width: 100%;
	border-radius: 102px;
}

#home__news-sources .carousel {
	margin-top: -50px;
}

.demo-gallery figure{
    display: none;
}

.demo-gallery__img--main {
    margin: 0 0px 45px 0;
}

.demo-gallery__img--main img {
    width: 20vw;
    height: 45vh;
    object-fit: cover;
    object-position: 0 0;
}

.home__caption-url {
    font-size: 1.5em;
}

.home__visit-message {
    font-style: italic;
    opacity: .3;
}