div.container section {
	margin-top: 30px;
}

#home__random-btn button {
	width: 100%;
	border-radius: 102px;
}

#home__news-sources .carousel {
	margin-top: -50px;
}

/**            BEGIN slick-lightbox CODE             **/
#home__website-thumbs li img {
    width: 23vw;
    height: 33vh;
    object-fit: cover;
    object-position: 0 0;
    float: left;
    margin: 20px;
}
/**            END slick-lightbox CODE             **/