<div class="container">
	<section id="home__random-btn">
		<button class="waves-effect waves-light btn-large"> Randomize! </button>
	</section>
	<section id="home__news-sources">
		<h1 class="center-align"> Front Pages </h1>
		<!-- http://materializecss.com/carousel.html -->

		<div class="row">
			<div id="demo-test-gallery" class="demo-gallery">

				<a ng-href="{{newsSource.frontpage.filepath}}" 
                    ng-repeat="newsSource in user.newsSources"
                    data-size="1600x1600" 
                    ng-attr-data-med="{{newsSource.frontpage.filepath}}" 
                    data-med-size="1024x1024" 
                    ng-attr-data-updatedAt="{{formatDate(newsSource.updated_at)}}" 
                    class="demo-gallery__img--main col m4 s6"
                >
					   <img ng-src="{{newsSource.frontpage.filepath}}" alt="" />
					<figure>{{ newsSource.base_name }}</figure>
				</a>

			</div>
		</div>

        <div class="clearfix"></div>
		<div class="row" ng-show="user.loggedIn == 1">
			<div class="col s3">
				<a href="#!/NewsSourceManager"> Manage News Sources </a>
			</div>
		</div>

		<div ng-show="user.loggedIn != 1">
			Please <a href="/login">Login</a>.
		</div>
	</section>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" id="gallery" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>


</div>