<div class="container">
	<section id="home__random-btn">
		<button class="waves-effect waves-light btn-large"> Randomize! </button>
	</section>
	<section id="home__news-sources">
		<h1 class="center-align"> News Sources </h1>
		<!-- http://materializecss.com/carousel.html -->

		<div id="home__website-thumbs"
			ng-show="user.loggedIn == 1 && user.newsSources.length > 0"
		>
            <ul>
                <li ng-repeat="newsSource in user.newsSources">
                    <a ng-href="{{newsSource.frontpages[0].filepath}}" target="_blank" class="thumbnail">
                        <img ng-src="{{newsSource.frontpages[0].filepath}}">
                    </a>
                </li>
            </ul>
		</div>
        <div class="clearfix"></div>
		<div class="row" ng-show="user.loggedIn == 1">
			<div class="col s3">
				<a href="#!/NewsSourceManager"> Manage News Sources </a>
			</div>
		</div>

		<div ng-show="user.loggedIn != 1">
			Please <a href="/login">Login</a>.
		</div>
	</section>
</div>